@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);

body{
    text-align: center;
    font-family: "Quicksand", sans-serif; 
    font-weight: 300; 
    font-size: 25;
    text-transform: uppercase;
    padding-top: 15%;
    margin: 0 auto;
    line-height: 120%
}

.booking{
    font-size: 20;
}

.items{
    margin:0 auto;
    /*text-align: right;*/
    max-width: 35%
}